// ==========================================================================
// Base – Custom Buttons
// ==========================================================================
.button {
	position: relative;
	background-color: $accent-font-color;
	border-radius: 4px;
	font-weight:$font-weight-bold;
	padding:10px 15px;
	color: $white;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #003d6b;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}


.button:hover {
	background-color: #0283e5;
	box-shadow: 0 3px 0 #0561a6;
	color:#fff;
}
.button:active {
	top: 3px;
	box-shadow: none;
}

.button-readmore{
	background:$accent-font-color;
	color:$white;
	@include font-size(12);
	padding:5px 10px;
	font-weight:$font-weight-bold;
	@include transition(0.5s);
	&:hover{
		background:$default-font-color;
		}
	}



.grey-button {
  background-color: #eee;
  color: #434343;
}
.grey-button:hover {
  background-color: #f1f1f1;
}

.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1;
}

.button-unstyled {
  @include font-size($default-font-size);
  color: $default-link-color;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
  &:hover {
    text-decoration: none;
  } // end hover
}
.button-unstyled[disabled],
.button-unstyled.disabled {
  text-decoration: none;
  color: #999;
  background-color: #ccc;
}