// ==========================================================================
// Base – Global Typography
// ==========================================================================

html{font-size:$default-font-size + px;}
body {
  font-family: $default-font-family;
  @include font-size($default-font-size);
  @include line-height($default-line-height);
  color: $default-font-color;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Clearfix
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after { clear: both; }
.clear { zoom: 1; } // IE7

// Font Style
b, strong, .strong { @extend .font-bold; }
i, em, .em { font-style: italic; }

// Links
a { color: $default-link-color;
		text-decoration: none; }
					
a:hover { text-decoration: none; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

// Paragraph and Small
p { margin: 0 0 1.6em 0; }
pre { margin: 1em 0; }
ul + p, ul + pre, ol + p, ol + pre { margin-top: 0; }

// Abbreviations
abbr[title] { border-bottom: 1px dotted; }

// Mark
mark {
  background: #ff0;
  color: #111;
}

// Audio
audio, canvas, video {
  @extend .inline-block;
}
audio:not([controls]) {
  @extend .none;
  height: 0;
}

// Small, Sub and Sup
small { font-size:80%; }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

// Definition
dfn { @extend .em; }

// Images


img {
  border: 0;
  -ms-interpolation-mode: bicubic;
	max-width: 100%;
  height: auto;
}
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

// Horizontal Rule
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin-bottom: 0.5em;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  font-weight: normal;
  margin: 0 0 0.33em 0;
}
h1, .h1 {
  @include font-size($h1);
}
h2, .h2 {
  @include font-size($h2);
}

h1.header-title{
	@extend h1;
	/*color:$white;*/
	color:$default-font-color;
	}

h2.welcome{
	@extend h2;
	font-family:$accent-font-family;	
	}
	
h3, .h3{ 
  @include font-size($h3);
}


h4.main-heading{
	@extend h4;
	border-bottom:$box-border-color 1px solid;
	padding-bottom:3px;
	span{
		border-bottom:$accent-font-color 1px solid;
		padding-right:10px;
		font-weight:$font-weight-medium;
		padding-bottom:3px;
		}
}	



h4, .h4 {
  @include font-size($h4);
}
h5, .h5 {
  @include font-size($h5);
	text-align:center;
}

h5.post-title{
	font-family:$default-font-family;
	@include font-size(16);
	font-weight:$font-weight-semibold;
	padding:3px;
	text-align:center;
	margin:0.5em 0;
		&:first-letter{
		color:$default-font-color;}
	}

h6, .h6 {
  @include font-size($h6);
}

h6.footer{
	@extend h6;
	color:#FFF;
	}
// Remove Heading Styling
.no-style-heading {
  @extend .no-margin;
  font-size: 100%;
}