// ==========================================================================
// Base – Lists
// ==========================================================================
dl, menu, ol, ul { margin: 0; }
dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}
dt { @extend .font-normal; }
dd {
  margin-bottom: 1em;
}
menu, ol, ul { padding: 0; }
nav ul, nav ,ol ,li {
  list-style: none;
  list-style-image: none;
}
// Remove Styling from List
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.list-inline {
  @extend .list-unstyled;
  @extend .inline-block;
  & li {
    @extend .inline-block;
  }
}


.list-style-number{
	li{
		display:block;
		position:relative;
		padding:0 0 15px 45px;
	span{
		position:absolute;
		padding:10px;
		font-weight:$font-weight-semibold;
		color:$white;
		background:$default-font-color;
		top:7px;
		left:0;}
		}	
	}